django
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
chromadb
google-generativeai
google-ai-generativelanguage
PyGithub
python-dotenv
requests
sqlalchemy
sentence-transformers 
torch
transformers
numpy 
einops
hf_xet